body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    
}

.sec1 {
   background-color: navy;
   color: white;
}



.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   
   
}

.links {
   align-items: flex-end;
   font-weight: 200;
    
}

.content-image {

   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 50px;
   margin-bottom: 80px;
}

.HeroTag {

   display:flex;
   flex-direction: column;
  

}


.sec2 {
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
}

.box1 {
   width: 40px;
   height: 40x;
   border: 1px solid black;
   padding: 10px;
   margin: 20px;
 }


 .box2 {
   width: 40px;
   height: 40x;
   border: 1px solid black;
   padding: 10px;
   margin: 20px;
 }

 .box3 {
   width: 40px;
   height: 40x;
   border: 1px solid black;
   padding: 10px;
   margin: 20px;
 }

 .box4 {
   width: 40px;
   height: 40x;
   border: 1px solid black;
   padding: 10px;
   margin: 20px;
 }




