body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    
}

.sec1 {
   background-color: navy;
   color: white;
}



.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   
   
}

.links {
   align-items: flex-end;
   font-weight: 200;
    
}

.content-image {

   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 50px;
   margin-bottom: 80px;
}

.HeroTag {

   display:flex;
   flex-direction: column;
  

}


.sec2 {
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
}







